.back-btn {
  font-size: 1.5em;
  font-weight: bolder;
  vertical-align: middle;
}

.windowed .hero-body, .city-tile .mesh {
  background-image: url('http://www.kohtaocompleteguide.com/wp-content/uploads/2015/04/DSC_1502-koh-tao-snorkelling-aow-leuk-16x9-1024x576.jpg?x77174');
  background-repeat: repeat;
}

.city-tile {
  min-height: 300px;
  cursor: pointer;
}

.city-tile .full-block {
  width: 100%;
  height: 100%;
}

.city-tile .mesh {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.city-tile h2 {
  color: white;
}

#rissani-bg {
  background-image: url('images/rissani1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**********************************my style***************/
/*style buttons*/
.button {
  position: relative;
  cursor: pointer;
  border: 0 solid;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 5px;
  transition:background-color 300ms ease-out;
  z-index: 1;
}

.button-group {
  float: right;
  padding-top: 23px;
}

.button-group li {
  display: inline-block;
  padding-top: 3%;
  margin: 0 .5rem;
}

.button-group a {
  color: #666;
  width: 7rem;
  padding: 20px 30px;
  background-color: #fff;
  text-decoration: none;
}

.button-group a:hover {
  color: #fff;
  padding: 20px 30px;
  background-color: #83d0c9;
}

ul {
  display: inline-block;
}



/*style parallax*/
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('http://www.kohtaocompleteguide.com/wp-content/uploads/2015/04/DSC_1502-koh-tao-snorkelling-aow-leuk-16x9-1024x576.jpg?x77174');
  min-height: 700px;
}

.bgimg-2 {
  background-image: url('http://www.saveourseasmagazine.com/wp-content/uploads/SOSMag-Iss01-Art04-Im02--Cheryl-SamanthaOwenCopyright-2560x1644.jpg');
  min-height: 500px;
}

.bgimg-3 {
  background-image: url('http://s1.ibtimes.com/sites/www.ibtimes.com/files/2016/03/21/great-barrier-reef.jpg');
  min-height: 500px;
}

.caption h1, .caption h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.caption h1 {
  padding: 76px 0 20px;
}
.say-something {
  text-align: center;
  padding-top: 161px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

span {
  width: 700px;
  height: 200px;
}


